## This file contains export examples of environment variable values for running local 
## tests against the latest version of the public test repository.
## Run with command: 'source .envrc'

#export _EXPERIMENTAL_DAGGER_INTERACTIVE_TUI=1

## Example, remember a valid Github token is needed:
#export GITHUB_REPOSITORY=gh-org/gh-repository
#export GITHUB_REF_NAME=main
#export GITHUB_SHA=724a0a893e760ae2df3f809985ee55feda4cb7a9
#export GITHUB_RUN_ID=8428391781
#export GITHUB_TOKEN=ghp_1234567890abcdefghijklmnopqrstuvwxyz

export OVERRIDE_GITHUB_REPOSITORY=NovoNordisk-OpenSource/generate-verification-report-test
export GITHUB_REF_NAME=main
export GITHUB_RUN_ID=0123456789
## Point to a specific PR commit hash for this test
export OVERRIDE_GITHUB_SHA=857f21d4180b60ad12978b14db0e6a3e191f8ec0

## Can be uncommented to clean the environment variables.
# unset OVERRIDE_GITHUB_REPOSITORY
# unset OVERRIDE_GITHUB_REF_NAME
# unset OVERRIDE_GITHUB_SHA
# unset GITHUB_REPOSITORY
# unset GITHUB_REF_NAME
# unset GITHUB_SHA
# unset GITHUB_RUN_ID